<div class="row">
  <div class="col-lg-8 col-md-8">
  <form class="form-horizontal" role="form">
<legend>Character</legend>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Name" ng-model="character.name">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Player</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="player" placeholder="Player" ng-model="character.player">
    </div>
  </div>
   <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Power Level</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="player" placeholder="Player" ng-model="character.powerLevel">
    </div>
  </div>
</form>

<form class="form-horizontal" role="form">
  <legend>Abilities</legend>
    <div class="form-group">
      <label for="strength" class="col-sm-2 control-label">Strength</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="strength" placeholder="Strength" ng-model="character.abilities.strength">
      </div>
    </div>
    <div class="form-group">
      <label for="agility" class="col-sm-2 control-label">Agility</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="agility" placeholder="Agility" ng-model="character.abilities.agility">
      </div>
    </div>
    <div class="form-group">
      <label for="fighting" class="col-sm-2 control-label">Fighting</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="fighting" placeholder="Fighting" ng-model="character.abilities.fighting">
      </div>
    </div>
    <div class="form-group">
      <label for="agility" class="col-sm-2 control-label">Awareness</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="awareness" placeholder="Awareness"  ng-model="character.abilities.awareness">
      </div>
    </div>
    <div class="form-group">
      <label for="stamina" class="col-sm-2 control-label">Stamina</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="stamina" placeholder="Stamina"  ng-model="character.abilities.stamina">
      </div>
    </div>
    <div class="form-group">
      <label for="dexterity" class="col-sm-2 control-label">Dexterity</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="dexterity" placeholder="Dexterity"  ng-model="character.abilities.dexterity">
      </div>
    </div>
    <div class="form-group">
      <label for="intelligence" class="col-sm-2 control-label">Intelligence</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="intelligence" placeholder="Intelligence"  ng-model="character.abilities.intelligence">
      </div>
    </div>
    <div class="form-group">
      <label for="presence" class="col-sm-2 control-label">Presence</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="presence" placeholder="Presence"  ng-model="character.abilities.presence">
      </div>
    </div>
</form>

<form class="form-horizontal" role="form">
<legend>Defenses</legend>
  <div class="form-group">
    <label for="dodge" class="col-sm-2 control-label">Dodge</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="dodge" placeholder="Dodge"  ng-model="character.defenses.dodge.rank">
    </div>
  </div>
  <div class="form-group">
    <label for="parry" class="col-sm-2 control-label">Parry</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="parry" placeholder="Parry" ng-model="character.defenses.parry.rank">
    </div>
  </div>
  <div class="form-group">
    <label for="fortitude" class="col-sm-2 control-label">Fortitude</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="fortitude" placeholder="Fortitude" ng-model="character.defenses.fortitude.rank">
    </div>
  </div>
  <div class="form-group">
    <label for="toughness" class="col-sm-2 control-label">Toughness</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="toughness" placeholder="Toughness" ng-model="character.defenses.toughness.rank">
    </div>
  </div>
  <div class="form-group">
    <label for="will" class="col-sm-2 control-label">Will</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="will" placeholder="Will" ng-model="character.defenses.will.rank">
    </div>
  </div>

<form class="form-horizontal" role="form">
        <legend>Skills</legend>
        <div class="form-group" ng-repeat="(key,data) in character.skills">
        <div class="control-row">
        <label class="col-sm-2 control-label">{{key | capitalize | space}}</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" ng-model="data.rank">
        </div>
      </div>
      </div>
</form>
<form class="form-horizontal" role="form" ng-controller="AdvantagesController">
        <legend ng-show="character.advantages.length >= 0">Advantages&nbsp;<button class="btn btn-primary" ng-click="open()">Add</button></legend>

        <div class="form-group" ng-repeat="advantage in character.advantages">
        <div class="control-row">
        <label class="col-sm-2 control-label"><span ng-click="removeAdvantage($index)" class="glyphicon glyphicon-remove"></span>&nbsp;<a href={{advantage.url}} title={{advantage.description}} target="_blank">{{advantage.name}}<span ng-if="advantage.ranked">(Ranked)</span></a></label>
        <div ng-if="advantage.ranked" class="col-sm-10">
          <input type="number" min="1" max="{{advantage.maxRank}}" class="form-control" ng-model="advantage.rank">
        </div>

        </div>
      </div>
</form>

 </div>
  <div class="col-lg-4 col-md-4">
  <h1>Summary</h1>
   <ul style="list-style:none">
    <li><b>STR</b> {{character.abilities.strength}}</li>
    <li><b>AGL</b> {{character.abilities.agility}}</li>
    <li><b>FGT</b> {{character.abilities.fighting}}</li>
    <li><b>AWE</b> {{character.abilities.awareness}}</li>
    <li><b>STA</b> {{character.abilities.stamina}}</li>
    <li><b>DEX</b> {{character.abilities.dexterity}}</li>
    <li><b>INT</b> {{character.abilities.intelligence}}</li>
    <li><b>PRE</b> {{character.abilities.presence}}</li>
   </ul>

   <ul style="list-style:none">
    <li><b>Dodge(AGL)</b> {{character.abilities.agility + character.defenses.dodge.rank}}</li>
    <li><b>Parry(FGT)</b> {{character.abilities.fighting + character.defenses.parry.rank}}</li>
    <li><b>Fortitude(STA)</b> {{character.abilities.stamina + character.defenses.fortitude.rank}}</li>
    <li><b>Toughness(STA)</b> {{character.abilities.stamina + character.defenses.toughness.rank}}</li>
    <li><b>Will(AWE)</b> {{character.abilities.awareness + character.defenses.will.rank}}</li>
   </ul>

  <ul style="list-style:none">
    <li ng-repeat="(key, data) in character.skills">
      <b>{{key | capitalize | space}}</b> {{data.rank + character.abilities[data.base]}}
    </li>  
  </ul>

    <ul style="list-style:none">
    <li ng-repeat="advantage in character.advantages">
      <b>{{advantage.name}}&nbsp;<span nf-if="advantage.ranked">{{advantage.rank}}</span></b>
    </li>  
  </ul>


  
  <button ng-show="!character.advantages" class="btn btn-primary btn-warning center-block" ng-click="convertCharacter(character)">Convert</button>
  <button ng-show="character.advantages.length >= 0" type="submit" class="btn btn-primary btn-lg center-block" ng-click="saveCharacter()">Save</button>

  </div>



</div>



