<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
<div ng-app="app" ng-controller="MainCtrl">
<div class="row">
  <div class="col-md-6">
    <form role="form">
      <div class="row">
      <div class="col-md-8 col-lg-8">
      <div class="form-group">
        <input type="search" class="form-control"/>
      </div>
      <select multiple class="form-control" ng-model="selectedCharacter" ng-options="c.name for c in characters  | orderByPriority"></select>
      </div>
      </div>
      <br>
      <div class="form-group">
       <div class="btn-group center-block">
        <button type="button" class="btn btn-primary" ng-click="newCharacter()">New</button>
        <button type="button" class="btn btn-primary" ng-click="loadCharacter(selectedCharacter)">Load</button>
       </div>
      </div>
  </form>  
  </div> 
  <div class="col-md-6">
      <form class="form-horizontal" role="form">
      <legend>Character</legend>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="character.name">
          </div>
        </div>
          <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Player</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="player" placeholder="Player" ng-model="character.player">
          </div>
        </div>
      </form>
  </div> 
</div>
<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" role="form">
      <legend>Abilities</legend>
        <div class="form-group">
          <label for="strength" class="col-sm-2 control-label">Strength</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="strength" placeholder="Strength" ng-model="character.abilities.strength">
          </div>
        </div>
        <div class="form-group">
          <label for="agility" class="col-sm-2 control-label">Agility</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="agility" placeholder="Agility" ng-model="character.abilities.agility">
          </div>
        </div>
        <div class="form-group">
          <label for="fighting" class="col-sm-2 control-label">Fighting</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fighting" placeholder="Fighting" ng-model="character.abilities.fighting">
          </div>
        </div>
        <div class="form-group">
          <label for="agility" class="col-sm-2 control-label">Awareness</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="awareness" placeholder="Awareness"  ng-model="character.abilities.awareness">
          </div>
        </div>
        <div class="form-group">
          <label for="stamina" class="col-sm-2 control-label">Stamina</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="stamina" placeholder="Stamina"  ng-model="character.abilities.stamina">
          </div>
        </div>
        <div class="form-group">
          <label for="dexterity" class="col-sm-2 control-label">Dexterity</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="dexterity" placeholder="Dexterity"  ng-model="character.abilities.dexterity">
          </div>
        </div>
        <div class="form-group">
          <label for="intelligence" class="col-sm-2 control-label">Intelligence</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="intelligence" placeholder="Intelligence"  ng-model="character.abilities.intelligence">
          </div>
        </div>
        <div class="form-group">
          <label for="presence" class="col-sm-2 control-label">Presence</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="presence" placeholder="Presence"  ng-model="character.abilities.presence">
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-6">
   <form class="form-horizontal" role="form">
      <legend>Defenses</legend>
        <div class="form-group">
          <label for="dodge" class="col-sm-2 control-label">Dodge</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="dodge" placeholder="Dodge"  ng-model="character.defenses.dodge.rank">
          </div>
        </div>
        <div class="form-group">
          <label for="parry" class="col-sm-2 control-label">Parry</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="parry" placeholder="Parry" ng-model="character.defenses.parry.rank">
          </div>
        </div>
        <div class="form-group">
          <label for="fortitude" class="col-sm-2 control-label">Fortitude</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fortitude" placeholder="Fortitude" ng-model="character.defenses.fortitude.rank">
          </div>
        </div>
        <div class="form-group">
          <label for="toughness" class="col-sm-2 control-label">Toughness</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="toughness" placeholder="Toughness" ng-model="character.defenses.toughness.rank">
          </div>
        </div>
        <div class="form-group">
          <label for="will" class="col-sm-2 control-label">Will</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="will" placeholder="Will" ng-model="character.defenses.will.rank">
          </div>
        </div>
  </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="saveCharacter()">Save</button>
            <button type="submit" class="btn btn-primary" ng-click="addCharacterToSession()">Add To Session</button>
      </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="//cdn.firebase.com/v0/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
<script src="app.js"></script
</body>
</html>
